@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

@font-face {
  font-family: Sofia;
  src: url("https://walter-tronics.github.io/media/fonts/Sofia.ttf");
}
@font-face {
  font-family: NeonTech;
  src: url("https://walter-tronics.github.io/media/fonts/NeonTech.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: brown;
  color: white;
  font-family: sans-serif;
}
.theme{
  position: absolute;
  top: 1%;
  left: 0%;
  transform: translateX(-40%);
  font-size: 1.2rem;
  background: #282c34;
  padding: .2rem .2rem .2rem 3rem;
  border-radius: 5px;
  font-family: cursive, sans-serif;
  transition: 1s;
  cursor: pointer;
}
@media (max-width: 700px) {
  .theme{
    font-family: NeonTech;
  }
}
.darkbody{
  background: #282c34;
}
.light {
  background: brown;
}
#quiz-box {
  width: min(95%, 400px);
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  border-radius: 10px;
}
#timer {
  height: 0.5em;
  border-radius: 10px;
}
#timer > div {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
#quiz-box h4 {
  text-align: center;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}
.quest h3 {
  font-size: 1.55rem;
}
b {
  color: #028639;
}
.quest {
  font-weight: bold;
  display: none;
}
.opt {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  cursor: pointer;
}
.opt input,
.opt label {
  margin-left: 0.3em;
}
.pop4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #282c34;
  border-radius: 10px;
}
.subpop4 {
  position: relative;
  padding: 1.06em;
  background: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px;
}
.pop,.pop2,.pop3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.281);
}
.subpop,.subpop2,.subpop3 {
  position: relative;
  top: 30%;
  background: white;
  text-align: center;
}
.pop h4,.pop2 h4,.pop3 h4 {
  cursor: pointer;
}
.subpop4 h2 {
  font-family: Sofia;
}
.restart{
  background: brown;
  padding: .1em .3em;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  border-radius: 5px 5px 0 0;
  bottom: -8px;
  color: white;
}